<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MENU</ion-title>
  </ion-navbar>
</ion-header>


<ion-content style="margin: 0;">
    <ion-list no-lines >
    <ion-item *ngFor="let d of list; let i=index" id = "{{d.id}}" text-wrap (click)="toggleGroup(i,d)" [ngClass]="{active: isGroupShown(i)}" [ngStyle]="{'background-color': d.color}">
    <div style="font-size: 2.4rem;color:#fff">
      <div class="{{d.font}} itemfont" id="{{d.font}}" item-start ></div>
      <div class="itemText itemtext" id="{{d.title}}" >{{d.title}}</div>
      <!--<ion-icon color="dark" style="float:right;color:#fff;margin-top: 0px;" item-right [ios]="isGroupShown(i) ? 'md-arrow-dropdown' : 'md-arrow-dropright'"  [md]="isGroupShown(i) ? 'md-arrow-dropdown' : 'md-arrow-dropright'"></ion-icon>-->
    </div>
    <div *ngIf="isGroupShown(i)" style=" margin-top: 15px;" id="recipelist">

           <div  class="row" *ngFor="let inner of d.types; let j=index" [ngStyle]="{'background-color': d.color}">
            <div class="col" style="margin: auto;">
              <div style="color:white;">{{inner.name}}</div>
            </div>
            <div class="col" style="margin: auto;">
              <div style="color:white;">{{inner.cost}}</div>
            </div>
            <div class="col"  style="margin: auto;">
             <ion-checkbox ></ion-checkbox>
            </div>

            </div>
          </div>

  </ion-item>
</ion-list>
</ion-content>
